body {
    font-family: 'Lato', sans-serif;
    color: rgb(85, 84, 84);
    font-size: 25px;

}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    margin-top: 20px;
    border: 3px solid black;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px 20px rgba(175, 175, 180, 0.5);
   
}

.n1 {
    border-color: lightgreen;
}

.n2 {
    border-color: yellow;
}


.n3 {
    border-color: red;
}
img {
    height: 25px;
}

span {
    color: rgb(70, 70, 253);
}